

body {
    font-family: "Lilita One", sans-serif;
    background-color: #f0f2f5; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #21468B; 
    color: white;
    padding: 20px;
    text-align: center;
    border: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: #A41E22; 
    display: flex;
    justify-content: center;
    margin: 0;
    border: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #21468B; 
    color: #fff; 
}

main {
    padding: 20px;
    text-align: center;
}

main img {
    max-width: 100%;
    width: 1000px;
    height: 700px;
    border-radius: 10px;
    margin-top: 20px;
    border: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

main p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

footer {
    background-color: #A41E22;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
