/* Estilo para a página principal */

body {
    font-family: "Archivo Black", sans-serif;
    background-color: #f0f2f5; /* Fundo neutro para destaque nos elementos */
    margin: 0;
    padding: 0;
}

header {
    background-color: #21468B; /* Azul escuro da bandeira holandesa */
    color: white;
    padding: 20px;
    text-align: center;
    border: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: #A41E22; /* Vermelho da bandeira */
    display: flex;
    justify-content: center;
    margin: 0;
    border: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra leve */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #21468B; /* Azul ao passar o mouse */
    color: #fff; /* Branco para contraste */
}

main {
    padding: 20px;
    text-align: center;
}

main img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    border: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar destaque */
}

main p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

footer {
    background-color: #A41E22;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
