

body {
    font-family: "Lilita One", sans-serif;
    background-color: #f3e5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #9c27b0;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: #7b1fa2;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #9c27b0;
}

main {
    padding: 20px;
    text-align: center;
}

main img {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

main p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}
